body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: normal;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  width: 100%;

}

a {
  color: seashell;
}

h2 {
  margin: 0;
  padding: 15px;
}

h3, h4, h5 {
  margin: 0;
  padding: 10px;
}

/* header */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 69px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  margin: auto;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.logo {
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}


nav span {
  padding: 20px 10px;
  align-items: center;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mission Section */

.mission {
  display: flex;
  padding-top: 70px;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-image: url(../images/mission-background.jpg);
  width: 1200px;
  height: 700px;

   }


.mission .ourmission span {
  background-color: black;
    opacity: 1;
    display: inline-block;
    justify-content: center;
    align-items: center;
}


/* Tea Month */

.teamonth {
  flex-flow: column;
  width: 1000px;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.selection {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 1;
}

.selection img {
  width: 300px;
  height: 200px;
}

.selection h4 {
  padding-top: 5px;
}

/* Locations */

.locations {
  background-image: url(../images/locations-background.jpg);
  height: 500px;
  padding-top: 70px;
  background-repeat: no-repeat;
  justify-content: center;
}

.locations .address {
  display: inline-block;
  justify-content: center;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  opacity: 1;
}

/* Footer */

footer {
  display: flex;
}
footer span {
  justify-content: flex-start;
  padding-left: 20px;
}
